:root {
  box-sizing: border-box;

  --board-border: #111;
  --square-dark: #a37456;
  --square-light: #eed7bd;
}

body {
  margin: 0;
  background: #202124;
  display: flex;
  align-items: center;
  justify-content: center;
}
